In [41]:
import geopandas as gpd
import psycopg2  # (if it is postgres/postgis)

con = psycopg2.connect(database="postgis-database", user="postgis", password="postgis", host="localhost", port=35432)

#sql = 'SELECT * FROM naturalearth.ne_10m_admin_1_states_provinces WHERE name_en = \'Bremen\''
sql = "SELECT CIRCULARSTRING(0 0, 4 0, 4 4, 0 4, 0 0)"
df = gpd.GeoDataFrame.from_postgis(sql, con, geom_col='geom')
df.plot()

DatabaseError: Execution failed on sql 'SELECT CIRCULARSTRING(0 0, 4 0, 4 4, 0 4, 0 0)': syntax error at or near "0"
LINE 1: SELECT CIRCULARSTRING(0 0, 4 0, 4 4, 0 4, 0 0)
                                ^